<div class="middle-container" style="margin-top: 50px;">
  <div>
    <div align="center">
      <h1>Congratulations!</h1>
    </div>
    <div>
      <div align="center">
        <p>Thank you for performing the task, you've scored <%= @total_percent_val.ceil(2) %>%.
        </b>Below is your results, thank you for partcipating.</p>
      </div>
      <div align="center">
        <%= pie_chart [['Correct answers', @correct_answers_count], ['Wrong answers', @wrong_answers_count], ['Unanswered', @unaswered_count]] %>
      </div>
    </div>
    <div>
      <div align="center" style="margin-top: 20px;">
        <%= link_to "End Test", generate_users_xlsx_file_path, :class=> "btn btn-danger" %>
      </div>
    </div>
  </div>
</div>
